html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fcfcfc;
  font-family: 'Pragati Narrow', sans-serif;
}

html body svg {
  display: block;
}

html body .head-section {
  background-color: #22684d;
}

html body .head-section nav {
  position: relative;
}

html body .head-section nav .main-logo {
  font-size: 2rem;
  margin: 0 1%;
  padding: 0 10px;
  color: #fcfcfc;
}

html body .head-section nav .nav-links {
  list-style: none;
  background-color: #0a0c0c;
  font-size: 2.5rem;
  padding: 50px 0 0 5%;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  will-change: transform;
}

html body .head-section nav .nav-links a {
  text-decoration: none;
  color: #f1b24a;
}

html body .head-section nav .menu-slider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

html body .head-section nav .hamburger-button {
  position: absolute;
  z-index: 10;
  top: 7px;
  right: 3vw;
}

html body .head-section nav .hamburger-button .button-lines {
  width: 30px;
  height: 5px;
  background-color: #fcfcfc;
  margin: 5px 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  will-change: transform;
}

html body .head-section nav .hamburger-button .display-none {
  display: none;
}

html body .head-section nav .hamburger-button .line-rotate {
  -webkit-transform: translateY(15px) rotate(-45deg);
          transform: translateY(15px) rotate(-45deg);
}

html body .head-section nav .hamburger-button .line-rotate-2 {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

html body .head-section main {
  padding-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .head-section main img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  max-width: 200px;
  border-radius: 50%;
  border: 3px solid #fcfcfc;
  margin: 1em;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

html body .head-section main .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .head-section main .header-info p {
  width: 80%;
  max-width: 550px;
  text-align: center;
  color: #fcfcfc;
  font-size: 2.2rem;
  line-height: 1em;
  margin: 0 0 0.7em 0;
}

html body .head-section main .header-info span {
  color: #f1b24a;
}

html body .head-section main .header-info .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.5em;
  padding: 0;
}

html body .head-section main .header-info .buttons .head-button {
  background-color: #f1b24a;
  padding: 0.1em 0.5em;
  margin: 0.2em;
  color: #fcfcfc;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
}

html body .head-section main .header-info .buttons .head-button a {
  text-decoration: none;
  color: #fcfcfc;
}

html body .head-section #overlay {
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

html body .head-section .overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 1;
}

html body .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 1.5em auto;
}

html body .about-section h2 {
  font-size: 2.5em;
  margin: 0;
  color: #22684d;
  text-transform: uppercase;
}

html body .about-section .description-section,
html body .about-section .skills-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

html body .about-section .description {
  background-color: #f1b24a;
  padding: 0 1.1em;
  margin-bottom: 1.5em;
  color: #fcfcfc;
  border-radius: 10px;
}

html body .about-section .description p {
  font-size: 1.1em;
}

html body .about-section .skills-images {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

html body .about-section .skills-images img {
  display: block;
  width: 60px;
  margin: 0.5em;
}

html body .projects-section {
  background-color: #22684d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 5% 5% 5%;
}

html body .projects-section h2 {
  font-size: 2.5em;
  margin: 0;
  color: #fcfcfc;
  text-transform: uppercase;
}

html body .projects-section .project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

html body .projects-section .project-cards .project-card {
  position: relative;
  width: 90%;
  max-width: 275px;
  background-color: #174634;
  color: #fcfcfc;
  padding: 0.5em 1em 1em 1em;
  margin: 1em 0.5em;
  border-radius: 10px;
}

html body .projects-section .project-cards .project-card h3 {
  margin: 0;
  font-size: 1.7em;
  font-weight: 100;
}

html body .projects-section .project-cards .project-card hr {
  border: 2px solid #f1b24a;
  margin: 0.2em 0;
}

html body .projects-section .project-cards .project-card .project-description {
  margin: 1em 0;
}

html body .projects-section .project-cards .project-card img,
html body .projects-section .project-cards .project-card video {
  width: 100%;
}

html body .projects-section .project-cards .project-card .languages {
  font-size: 1.2em;
  margin: 0;
  word-spacing: 1em;
  font-weight: 700;
}

html body .projects-section .project-cards .project-card .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  bottom: 1.5em;
  height: auto;
  width: 100%;
  margin-top: 1em;
}

html body .projects-section .project-cards .project-card .project-links img,
html body .projects-section .project-cards .project-card .project-links svg {
  display: inline-block;
  height: auto;
  width: calc(10px + 2.5vw);
  min-width: none;
  background-color: #37a078;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 10px;
  color: #fcfcfc;
}

html body .projects-section .project-cards .project-card .project-links .live-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .projects-section .project-cards .project-card .project-links .live-link svg {
  height: 100%;
}

html body .projects-section .project-cards .project-card .project-links p,
html body .projects-section .project-cards .project-card .project-links a {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 1.5em auto;
}

html body .contact-section h2 {
  font-size: 2.5em;
  margin: 0;
  color: #22684d;
  text-transform: uppercase;
}

html body .contact-section a {
  color: #f1b24a;
  font-size: 7.5vw;
  margin: 0 1em 0.2em 1em;
  line-height: 0.7em;
}

html body .contact-section .contact-text {
  text-align: center;
  margin: 0;
  font-size: 1.1em;
  color: #22684d;
}

html body .contact-section .credit {
  font-size: 0.9em;
  margin: 2.5em 0 0.5em 0;
  color: #22684d;
}

html body .contact-section .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

html body .contact-section .social-links img {
  width: 25px;
}

@media screen and (min-width: 630px) {
  html body .head-section nav .main-logo {
    font-size: 2.5em;
  }
  html body .head-section nav .nav-links {
    font-size: 7.5vw;
  }
  html body .head-section nav .hamburger-button {
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 3vw;
  }
  html body .head-section nav .hamburger-button .button-lines {
    width: 35px;
    height: 5px;
    background-color: #fcfcfc;
    margin: 5px 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
  }
  html body .head-section main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5em;
  }
  html body .head-section main img {
    width: 30%;
    min-width: 200px;
    max-width: 300px;
  }
  html body .head-section main .header-info {
    padding: 0;
    width: 55%;
    max-width: 500px;
  }
  html body .head-section main .header-info p {
    width: 100%;
    padding: 0;
    font-size: 4.6vw;
    margin: 0.2em 0;
  }
  html body .about-section h2 {
    font-size: 7vw;
  }
  html body .about-section .description p {
    font-size: 3vw;
    line-height: 1.4em;
  }
  html body .about-section .skills-images img {
    width: 15%;
    max-width: 120px;
    margin: 1em;
  }
  html body .projects-section {
    padding: 0.5em;
  }
  html body .projects-section h2 {
    font-size: 7vw;
  }
  html body .projects-section .project-cards .project-card {
    width: 40%;
    max-width: none;
  }
  html body .projects-section .project-cards .project-card h3 {
    font-size: 4vw;
  }
  html body .projects-section .project-cards .project-card .project-description {
    font-size: 2.2vw;
  }
  html body .projects-section .project-cards .project-card .languages {
    font-size: 2.5vw;
  }
  html body .projects-section .project-cards .project-card .project-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    bottom: 1em;
  }
  html body .projects-section .project-cards .project-card .project-links img,
  html body .projects-section .project-cards .project-card .project-links svg {
    width: calc(10px + 1.5vw);
    background-color: #37a078;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
  }
  html body .contact-section h2 {
    font-size: 7vw;
  }
  html body .contact-section a {
    font-size: 5vw;
  }
  html body .contact-section img {
    width: 6vw;
    max-width: 100px;
  }
  html body .contact-section .contact-text {
    font-size: 3.5vw;
  }
  html body .contact-section .credit {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1200px) {
  html body .head-section nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5em 2.5%;
    margin-bottom: 1vw;
  }
  html body .head-section nav .main-logo {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: #fcfcfc;
  }
  html body .head-section nav .nav-links {
    list-style: none;
    background-color: #22684d;
    padding: 0;
    margin: 0;
    position: static;
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .head-section nav .nav-links li {
    font-size: calc(10px + 1vw);
    margin: 0 0.5em;
    padding: 0 1em;
    border-radius: 10px;
  }
  html body .head-section nav .nav-links li:hover {
    background-color: #174634;
  }
  html body .head-section nav .nav-links a {
    text-decoration: none;
    color: #fcfcfc;
  }
  html body .head-section nav .nav-links .skills-link {
    display: none;
  }
  html body .head-section nav .menu-slider {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  html body .head-section nav .hamburger-button {
    display: none;
  }
  html body .head-section main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4vw 0 4vw 0;
  }
  html body .head-section main img {
    width: 22.5%;
    min-width: 275px;
    max-width: none;
    margin: 0vw;
  }
  html body .head-section main .header-info {
    padding: 0;
    width: 50%;
    max-width: none;
    margin: 0vw;
  }
  html body .head-section main .header-info p {
    width: 70%;
    max-width: none;
    font-size: calc(12px + 3vw);
    margin: 0.2em 0;
  }
  html body .head-section main .header-info .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  html body .head-section main .header-info .buttons .head-button {
    background-color: #f1b24a;
    padding: 0.1em 1em;
    margin: 0.25em;
    color: #fcfcfc;
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
    font-size: calc(5px + 1.5vw);
    border: none;
  }
  html body .head-section main .header-info .buttons .head-button a {
    text-decoration: none;
    color: #fcfcfc;
  }
  html body .about-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 0 2.5vw 0;
  }
  html body .about-section h2 {
    font-size: 3.5vw;
    margin: 0;
    color: #22684d;
    text-transform: uppercase;
  }
  html body .about-section .description-section,
  html body .about-section .skills-section {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  html body .about-section .skills-section {
    padding: 0;
  }
  html body .about-section .description {
    background-color: #f1b24a;
    padding: 0 1.1em;
    margin-bottom: 1.5em;
    color: #fcfcfc;
    border-radius: 10px;
  }
  html body .about-section .description p {
    font-size: calc(5px + 1vw);
  }
  html body .about-section .skills-images {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  html body .about-section .skills-images img {
    display: block;
    width: calc(50px + 2vw);
    margin: 1.5em;
  }
  html body .projects-section {
    background-color: #22684d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0 5% 5% 5%;
  }
  html body .projects-section h2 {
    font-size: 3.5vw;
  }
  html body .projects-section .project-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  html body .projects-section .project-cards .project-card {
    position: relative;
    width: 90%;
    max-width: 400px;
    background-color: #174634;
    color: #fcfcfc;
    padding: 0.5em 1em 1.5em 1em;
    margin: 1em 0.5em;
    border-radius: 10px;
  }
  html body .projects-section .project-cards .project-card h3 {
    margin: 0;
    font-size: calc(12px + 1vw);
    font-weight: 100;
  }
  html body .projects-section .project-cards .project-card hr {
    border: 2px solid #f1b24a;
    margin: 0.2em 0;
  }
  html body .projects-section .project-cards .project-card .project-description {
    font-size: calc(15px + 0.5vw);
    margin: 0.5em 0;
    line-height: 1.2em;
  }
  html body .projects-section .project-cards .project-card .languages {
    font-size: calc(5px + 1vw);
    margin: 0em 0 0 0;
    word-spacing: 1em;
    font-weight: 700;
  }
  html body .projects-section .project-cards .project-card .project-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    bottom: 1em;
  }
  html body .projects-section .project-cards .project-card .project-links img,
  html body .projects-section .project-cards .project-card .project-links svg {
    background-color: #37a078;
    width: calc(10px + 1vw);
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
  }
  html body .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto 0 auto;
    padding-bottom: 0.5vw;
  }
  html body .contact-section h2 {
    font-size: 3.5vw;
  }
  html body .contact-section a {
    color: #f1b24a;
    font-size: calc(5px + 2.5vw);
    margin: 0 1em 0.2em 1em;
    line-height: 0.7em;
  }
  html body .contact-section .contact-text {
    text-align: center;
    margin: 0;
    font-size: calc(5px + 1vw);
    color: #22684d;
  }
  html body .contact-section .credit {
    font-size: calc(5px + 0.5vw);
    margin: 2.5em 0 0.5em 0;
    color: #22684d;
    margin-bottom: 2em;
  }
  html body .contact-section .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  html body .contact-section .social-links img {
    width: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */